.form{
    display: flex;
    align-items: center;

}


.mainDiv{
    display: flex;
    flex-direction: column;
}

.buttonDiv{
    margin-left: 36px;
    margin-bottom: 12px;
}

.link{
    width: 410px;
}