.contactDiv {
    display: flex;
    gap: 60px;
    align-items: center;
    max-width: 228px;
    border: 1px solid black;
    margin-bottom: 8px;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
}

button {
    height: 25px;
    margin-left: auto;
}

li {
    list-style: none;
}

p {
    margin: 0;
    font-family: sans-serif;
    margin-bottom: 8px;
}

ul {
    padding-left: 0;
}