.mainDiv{
    display: flex;
    gap: 16px;
}



.logoutButton{
    padding: 0;
}

.textLogout{
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
}

.textWelcome{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.secondText{
    display: inline-block;
}

.secondText::first-letter{

    text-transform: uppercase;
}